In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
egdi = pd.read_csv('EGOV_DATA_2024.csv')

In [3]:
wgi = pd.read_excel('wgidataset.xlsx')

In [4]:
ge = wgi.loc[(wgi['indicator'] == 'ge') & (wgi['year'] == 2023)].reset_index(drop=True)

In [5]:
cc = wgi.loc[(wgi['indicator'] == 'cc') & (wgi['year'] == 2023)].reset_index(drop=True)

In [6]:
va = wgi.loc[(wgi['indicator'] == 'va') & (wgi['year'] == 2023)].reset_index(drop=True)

In [7]:
ide = pd.read_csv('electoral-democracy-index.csv')

In [8]:
ide = ide.loc[ide['Year'] == 2023]

In [9]:
ge['countryname'] = ge['countryname'].replace({
    'Georgia': 'Georgia (Country)',
    'Bahamas, The': 'Bahamas',
    'Gambia, The': 'Gambia',
    'Lao PDR': "Lao People's Democratic Republic",
    'Cape Verde': 'Cabo Verde',
    'Korea, Rep.': 'Republic of Korea',
    'Moldova': 'Republic of Moldova',
    'Slovak Republic': 'Slovakia',
    'Venezuela, RB': 'Venezuela',
    'Congo, Rep.': 'Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Yemen, Rep.': 'Yemen',
    'Micronesia, Fed. Sts.': 'Micronesia (Federated States of)',
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'Tanzania':  'United Republic of Tanzania',
    'United States': 'United States of America',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'St. Lucia': 'Saint Lucia',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'Egypt, Arab Rep.': 'Egypt',
    "Korea, Dem. Rep.": "Democratic People's Republic of Korea",
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Iran, Islamic Rep.': 'Iran (Islamic Republic of)',
    'São Tomé and Principe': 'Sao Tome and Principe'
})

In [10]:
cc['countryname'] = cc['countryname'].replace({
    'Georgia': 'Georgia (Country)',
    'Bahamas, The': 'Bahamas',
    'Gambia, The': 'Gambia',
    'Lao PDR': "Lao People's Democratic Republic",
    'Cape Verde': 'Cabo Verde',
    'Korea, Rep.': 'Republic of Korea',
    'Moldova': 'Republic of Moldova',
    'Slovak Republic': 'Slovakia',
    'Venezuela, RB': 'Venezuela',
    'Congo, Rep.': 'Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Yemen, Rep.': 'Yemen',
    'Micronesia, Fed. Sts.': 'Micronesia (Federated States of)',
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'Tanzania':  'United Republic of Tanzania',
    'United States': 'United States of America',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'St. Lucia': 'Saint Lucia',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'Egypt, Arab Rep.': 'Egypt',
    "Korea, Dem. Rep.": "Democratic People's Republic of Korea",
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Iran, Islamic Rep.': 'Iran (Islamic Republic of)',
    'São Tomé and Principe': 'Sao Tome and Principe'
})

In [11]:
va['countryname'] = va['countryname'].replace({
    'Georgia': 'Georgia (Country)',
    'Bahamas, The': 'Bahamas',
    'Gambia, The': 'Gambia',
    'Lao PDR': "Lao People's Democratic Republic",
    'Cape Verde': 'Cabo Verde',
    'Korea, Rep.': 'Republic of Korea',
    'Moldova': 'Republic of Moldova',
    'Slovak Republic': 'Slovakia',
    'Venezuela, RB': 'Venezuela',
    'Congo, Rep.': 'Congo',
    'Kyrgyz Republic': 'Kyrgyzstan',
    'Yemen, Rep.': 'Yemen',
    'Micronesia, Fed. Sts.': 'Micronesia (Federated States of)',
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'Tanzania':  'United Republic of Tanzania',
    'United States': 'United States of America',
    'St. Kitts and Nevis': 'Saint Kitts and Nevis',
    'St. Lucia': 'Saint Lucia',
    'St. Vincent and the Grenadines': 'Saint Vincent and the Grenadines',
    'Egypt, Arab Rep.': 'Egypt',
    "Korea, Dem. Rep.": "Democratic People's Republic of Korea",
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Iran, Islamic Rep.': 'Iran (Islamic Republic of)',
    'São Tomé and Principe': 'Sao Tome and Principe'
})

In [12]:
ide['Entity'].value_counts().sum()

np.int64(290)

In [13]:
set(egdi['Country Name']).difference(ide['Entity'])

{'Brunei Darussalam',
 'Cabo Verde',
 'Czech Republic',
 "Côte d'Ivoire",
 "Democratic People's Republic of Korea",
 'Democratic Republic of the Congo',
 'Georgia (Country)',
 'Iran (Islamic Republic of)',
 "Lao People's Democratic Republic",
 'Micronesia (Federated States of)',
 'Republic of Korea',
 'Republic of Moldova',
 'Russian Federation',
 'Syrian Arab Republic',
 'Timor-Leste',
 'Türkiye',
 'United Kingdom of Great Britain and Northern Ireland',
 'United Republic of Tanzania',
 'United States of America',
 'Viet Nam'}

In [14]:
ide['Entity'] = ide['Entity'].replace({
    'Brunei': 'Brunei Darussalam',
    'Cape Verde': 'Cabo Verde',
    "Cote d'Ivoire": "Côte d'Ivoire",
    'Moldova': 'Republic of Moldova',
    'Russia': 'Russian Federation',
    'Syria': 'Syrian Arab Republic',
    'East Timor': 'Timor-Leste',
    'Czechia': 'Czech Republic',
    'Georgia': 'Georgia (Country)',
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland',
    'Tanzania': 'United Republic of Tanzania',
    'United States': 'United States of America',
    'Vietnam': 'Viet Nam',
    'South Korea': 'Republic of Korea',
    'North Korea': "Democratic People's Republic of Korea",
    'Iran': 'Iran (Islamic Republic of)',
    'Democratic Republic of Congo': 'Democratic Republic of the Congo',
    'Micronesia (country)': 'Micronesia (Federated States of)',
    "Laos": "Lao People's Democratic Republic",
    'Turkey': 'Türkiye'
})

In [15]:
set(egdi['Country Name']).difference(ide['Entity'])

set()

In [16]:
ide.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 234 to 34130
Data columns (total 5 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Entity                                        290 non-null    object
 1   Code                                          260 non-null    object
 2   Year                                          290 non-null    int64
 3   Electoral democracy index (central estimate)  193 non-null    float64
 4   World regions according to OWID               272 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 13.6+ KB

In [17]:
ide = ide.rename(columns={
    'Electoral democracy index (central estimate)': 'indice_democracia'
})

In [18]:
va = va.replace({
    '..': np.nan
})

C:\Users\lazar\AppData\Local\Temp\ipykernel_4676\401020240.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  va = va.replace({

In [19]:
ge = ge.replace({
    '..': np.nan
})

C:\Users\lazar\AppData\Local\Temp\ipykernel_4676\3532903772.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  ge = ge.replace({

In [20]:
cc = cc.replace({
    '..': np.nan
})

C:\Users\lazar\AppData\Local\Temp\ipykernel_4676\1003815289.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  cc = cc.replace({

In [21]:
ide = ide.rename(columns={
    'Entity': 'countryname'
})

In [22]:
cc = cc.rename(columns={
    'pctrank': 'cc'
})

In [23]:
ge = ge.rename(columns={
    'pctrank': 'ge'
})

In [24]:
va = va.rename(columns={
    'pctrank': 'va'
})

In [25]:
cc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   codeindyr     214 non-null    object
 1   code          214 non-null    object
 2   countryname   214 non-null    object
 3   year          214 non-null    int64
 4   indicator     214 non-null    object
 5   estimate      213 non-null    float64
 6   stddev        213 non-null    float64
 7   nsource       213 non-null    float64
 8   cc            213 non-null    float64
 9   pctranklower  213 non-null    float64
 10  pctrankupper  213 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 18.5+ KB

In [26]:
cc = cc.iloc[:, [2, 8]]

In [27]:
ge = ge.iloc[:, [2, 8]]

In [28]:
va = va.iloc[:, [2, 8]]

In [29]:
ide.info()

<class 'pandas.core.frame.DataFrame'>
Index: 290 entries, 234 to 34130
Data columns (total 5 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   countryname                      290 non-null    object
 1   Code                             260 non-null    object
 2   Year                             290 non-null    int64
 3   indice_democracia                193 non-null    float64
 4   World regions according to OWID  272 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 13.6+ KB

In [30]:
ide = ide.iloc[:, [0, 3]]

In [31]:
df1 = cc.merge(ge, on='countryname').merge(va, on='countryname').merge(ide, on='countryname')

In [32]:
df1

        countryname         cc         ge         va  indice_democracia
0       Afghanistan  13.679245   1.415094   1.960784              0.073
1           Albania  43.396225  60.377357  53.921570              0.507
2           Algeria  30.188679  27.358490  22.058823              0.265
3    American Samoa  87.735847  73.113205        NaN                NaN
4           Andorra  87.735847  91.037735  78.921570                NaN
..              ...        ...        ...        ...                ...
201       Venezuela   1.415094   5.660378   6.862745              0.207
202        Viet Nam  38.679245  56.132076  15.196078              0.148
203           Yemen   1.886792   0.471698   6.372549              0.128
204          Zambia  36.792454  27.830189  45.098038              0.527
205        Zimbabwe   9.905661  11.792453  19.117647              0.291

[206 rows x 5 columns]

In [33]:
df2 = pd.DataFrame({
    'Índice de Democracia x Control of Corruption': df1['indice_democracia'].corr(df1['cc'], method='spearman'),
    'Índice de Democracia x Government Efectiveness': df1['indice_democracia'].corr(df1['ge'], method='spearman'),
    'Índice de Democracia x Voice And Accountability': df1['indice_democracia'].corr(df1['va'], method='spearman')
}, np.arange(1))

In [34]:
df2

,Índice de Democracia x Control of Corruption,Índice de Democracia x Government Efectiveness,Índice de Democracia x Voice And Accountability
0,0.704308,0.616756,0.957173

In [35]:
comparacoes = [
    'Índice de Democracia x Control of Corruption',
    'Índice de Democracia x Government Efectiveness',
    'Índice de Democracia x Voice And Accountability'
]

In [36]:
df3 = df2.melt(
    value_vars=comparacoes,
    var_name='comparacao',
    value_name='valor'
).sort_values(by='valor', ascending=True).reset_index(drop=True)

In [37]:
df3

                                        comparacao     valor
0   Índice de Democracia x Government Efectiveness  0.616756
1     Índice de Democracia x Control of Corruption  0.704308
2  Índice de Democracia x Voice And Accountability  0.957173

In [38]:
fig = px.bar(
    df3,
    x='valor',
    y='comparacao'
)

fig.update_traces(
    texttemplate='%{x:.2f}', 
    textposition='inside',
    textfont=dict(
        color='black'
    )
)

fig.update_layout(
    font=dict(
        color='black'
    ),
    yaxis=dict(
        title=None
    ),
    xaxis=dict(
        title=None,
        range=[0, 1]
    ),
    margin=dict(
        t=5,
        b=5,
        r=5,
        l=5
    )
)

fig.write_image('C:/Users/lazar/Dissertacao-Mestrado-PoderJud-EGDI/figuras/correlacao_indicedemocracia_wgi_ge_cc_va.png', scale=3)