In [17]:
import pandas as pd
import numpy as np
import plotly.express as px

In [18]:
wgi = pd.read_excel('wgidataset.xlsx')

In [19]:
rl = wgi.loc[wgi['indicator'] == 'rl'].reset_index(drop=True)

In [20]:
rl = rl.replace({
    '..': np.nan
})

C:\Users\lazar\AppData\Local\Temp\ipykernel_8020\3067788708.py:1: FutureWarning:

Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`

In [21]:
rl.head()

,codeindyr,code,countryname,year,indicator,estimate,stddev,nsource,pctrank,pctranklower,pctrankupper
0,AFGrl1996,AFG,Afghanistan,1996,rl,-1.788075,0.350509,3.0,1.507538,0.000000,12.562814
1,ALBrl1996,ALB,Albania,1996,rl,-0.684482,0.246615,6.0,28.643215,16.582914,42.211056
2,DZArl1996,DZA,Algeria,1996,rl,-1.218195,0.212429,6.0,12.562814,4.522613,22.110552
3,ASMrl1996,ASM,American Samoa,1996,rl,NaN,NaN,NaN,NaN,NaN,NaN
4,ADOrl1996,ADO,Andorra,1996,rl,1.158363,0.388865,2.0,86.432159,63.316582,96.984924

In [22]:
rl = rl.loc[rl['year'] == 2023].reset_index(drop=True)

In [23]:
fig = px.box(
    rl,
    x='pctrank'
)

fig.update_layout(
    font=dict(
        color='black'
    ),
    xaxis=dict(
        title=None,
        range=[0, 100]
    ),
    margin=dict(
        t=5,
        b=5,
        l=5,
        r=5
    )
)

fig.write_image('C:/Users/lazar/Dissertacao-Mestrado-PoderJud-EGDI/figuras/quartis_wgi_rl.png', scale=3)

In [24]:
rl['pctrank'].describe()

count    213.000000
mean      50.026575
std       29.096716
min        0.000000
25%       25.000000
50%       50.000000
75%       75.000000
max      100.000000
Name: pctrank, dtype: float64