In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df = pd.read_csv('judicial-corruption-score.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29034 entries, 0 to 29033
Data columns (total 4 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Entity                                        29034 non-null  object
 1   Code                                          26982 non-null  object
 2   Year                                          29034 non-null  int64
 3   Judicial corruption score (central estimate)  29034 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 907.4+ KB

In [4]:
df['Year'].unique()

array([1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799,
       1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810,
       1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821,
       1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832,
       1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843,
       1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854,
       1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865,
       1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876,
       1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887,
       1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898,
       1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909,
       1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920,
       1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931,
       1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942,
       1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953,
       1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964,
       1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
       2020, 2021, 2022, 2023, 2024])

In [5]:
df = df.rename(columns={
    'Judicial corruption score (central estimate)': 'Valores'
})

In [6]:
df = df[df['Year'] == 2024].reset_index(drop=True)

In [7]:
df.head()

                         Entity Code  Year   Valores
0                   Afghanistan  AFG  2024 -0.449000
1                        Africa  NaN  2024 -0.578179
2  Africa (population-weighted)  NaN  2024 -0.980639
3                       Albania  ALB  2024  0.202000
4                       Algeria  DZA  2024 -0.773000

In [8]:
fig = px.box(
    df,
    x='Valores'
)

fig.update_layout(
    font=dict(
        color='black'
    ),
    xaxis=dict(
        title=None,
        range=[-4, 4]
    ),
    margin=dict(
        t=5,
        b=5,
        l=5,
        r=5
    )
)

fig.write_image('C:/Users/lazar/Dissertacao-Mestrado-PoderJud-EGDI/figuras/quartis_corrupcao_judiciaria.png', scale=3)