In [16]:
import pandas as pd

# INTERNET DATAFRAME

In [17]:
df_internet = pd.read_csv('individuals-using-the-internet.csv')

In [18]:
df_internet = df_internet.drop(columns=[
    'seriesID',
    'seriesCode',
    'seriesName',
    'seriesParent',
    'seriesUnits',
    'entityID',
    'entityIso',
    'dataNote',
    'dataSource',
    'seriesDescription'
])

In [19]:
df_internet = df_internet.rename(columns={
    'entityName': 'Country',
    'dataValue': 'Percentage Use',
    'dataYear': 'Year'
})

In [20]:
df_internet = df_internet[df_internet['Country'] == "Brazil"].reset_index(drop=True)

# BRAZIL'S POPULATION DATAFRAME

In [21]:
df_br_population = pd.read_csv('brazil_population_2000_2023.csv')

In [22]:
df_br_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   IndicatorId         24 non-null     int64
 1   IndicatorName       24 non-null     object
 2   IndicatorShortName  24 non-null     object
 3   Source              24 non-null     object
 4   SourceYear          24 non-null     int64
 5   Author              24 non-null     object
 6   LocationId          24 non-null     int64
 7   Location            24 non-null     object
 8   Iso2                24 non-null     object
 9   Iso3                24 non-null     object
 10  TimeId              24 non-null     int64
 11  Time                24 non-null     int64
 12  VariantId           24 non-null     int64
 13  Variant             24 non-null     object
 14  SexId               24 non-null     int64
 15  Sex                 24 non-null     object
 16  AgeId               24 non-null     int64
 17  AgeStart            24 non-null     int64
 18  AgeEnd              24 non-null     int64
 19  Age                 24 non-null     object
 20  CategoryId          24 non-null     int64
 21  Category            24 non-null     object
 22  EstimateTypeId      24 non-null     int64
 23  EstimateType        24 non-null     object
 24  EstimateMethodId    24 non-null     int64
 25  EstimateMethod      24 non-null     object
 26  Value               24 non-null     float64
dtypes: float64(1), int64(13), object(13)
memory usage: 5.2+ KB

In [23]:
df_br_population = df_br_population.drop(columns=[
    'IndicatorId',
    'IndicatorName',
    'IndicatorShortName',
    'Source',
    'Author',
    'LocationId',
    'Location',
    'Iso2',
    'Iso3',
    'TimeId',
    'Time',
    'VariantId',
    'Variant',
    'SexId',
    'Sex',
    'AgeId',
    'AgeStart',
    'AgeEnd',
    'Age',
    'CategoryId',
    'Category',
    'SourceYear',
    'EstimateTypeId',
    'EstimateType',
    'EstimateMethodId',
    'EstimateMethod'
])

In [24]:
df_br_population.head(10)

         Value
0  174018281.5
1  176301203.0
2  178503483.5
3  180622688.5
4  182675143.0
5  184688101.5
6  186653105.5
7  188552320.0
8  190367301.5
9  192079950.5

In [25]:
df_br_population = df_br_population.rename(columns={'Value': 'Brazilian Population'})

In [26]:
df_br_population.to_csv('brazil_population_reduced')

# PEARSON CORRELATION COEFFICIENT

In [27]:
df_internet['Percentage Use'].corr(df_br_population['Brazilian Population'], method='pearson')

np.float64(0.996865562140348)