In [36]:
import pandas as pd

# INTERNET USE

In [37]:
df_internet = pd.read_csv('brazil_internent_use.csv')

# BRASIL'S SIZE

In [38]:
df_size = pd.read_csv('countries_size.csv')

In [39]:
df_size.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       24 non-null     object
 1   Domain            24 non-null     object
 2   Area Code (M49)   24 non-null     int64
 3   Area              24 non-null     object
 4   Element Code      24 non-null     int64
 5   Element           24 non-null     object
 6   Item Code         24 non-null     int64
 7   Item              24 non-null     object
 8   Year Code         24 non-null     int64
 9   Year              24 non-null     int64
 10  Unit              24 non-null     object
 11  Value             24 non-null     int64
 12  Flag              24 non-null     object
 13  Flag Description  24 non-null     object
 14  Note              0 non-null      float64
dtypes: float64(1), int64(6), object(8)
memory usage: 2.9+ KB

In [40]:
df_size = df_size.drop(columns=[
    'Domain Code',
    'Domain',
    'Area Code (M49)',
    'Area',
    'Element Code',
    'Element',
    'Item Code',
    'Item',
    'Year Code',
    'Flag',
    'Flag Description',
    'Note'
])

In [41]:
df_size

    Year     Unit   Value
0   2000  1000 ha  851577
1   2001  1000 ha  851577
2   2002  1000 ha  851577
3   2003  1000 ha  851577
4   2004  1000 ha  851577
5   2005  1000 ha  851577
6   2006  1000 ha  851577
7   2007  1000 ha  851577
8   2008  1000 ha  851577
9   2009  1000 ha  851577
10  2010  1000 ha  851577
11  2011  1000 ha  851577
12  2012  1000 ha  851577
13  2013  1000 ha  851577
14  2014  1000 ha  851577
15  2015  1000 ha  851577
16  2016  1000 ha  851577
17  2017  1000 ha  851577
18  2018  1000 ha  851577
19  2019  1000 ha  851577
20  2020  1000 ha  851577
21  2021  1000 ha  851577
22  2022  1000 ha  851042
23  2023  1000 ha  851042

# CORR

In [42]:
df_internet['Percentage Use'].corr(df_size['Value'], method='pearson')

np.float64(-0.4323847025545774)