In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

EGDI

In [2]:
egdi = pd.read_csv('EGOV_DATA_2024.csv')

In [3]:
egov = egdi.melt(
    id_vars='Country Name',
    value_vars='E-Government Index',
    var_name='Metric',
    value_name='Value'
)

In [4]:
epart = egdi.melt(
    id_vars='Country Name',
    value_vars='E-Participation Index',
    var_name='Metric',
    value_name='Value'
)

PIB PER CAPITA PPC

In [5]:
pib = pd.read_csv('wb_gdp_percapita_ppc.csv')

In [6]:
pib = pib.melt(
    id_vars='Country Name',
    value_vars='2024',
    var_name='Year',
    value_name='PIB'
)

ÍNDICE DE DEMOCRACIA ELEITORAL

In [7]:
ide = pd.read_csv('electoral-democracy-index.csv')

In [8]:
ide = ide.iloc[:, [0, 2]]
ide

            Entity  Year
0      Afghanistan  1789
1      Afghanistan  1790
2      Afghanistan  1791
3      Afghanistan  1792
4      Afghanistan  1793
...            ...   ...
34030     Zimbabwe  2020
34031     Zimbabwe  2021
34032     Zimbabwe  2022
34033     Zimbabwe  2023
34034     Zimbabwe  2024

[34035 rows x 2 columns]