In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('tabela_6794.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Região  5 non-null      object
 1   2016    5 non-null      int64
 2   2017    5 non-null      int64
 3   2018    5 non-null      int64
 4   2019    5 non-null      int64
 5   2021    5 non-null      int64
 6   2022    5 non-null      int64
 7   2023    5 non-null      int64
dtypes: int64(7), object(1)
memory usage: 452.0+ bytes

In [4]:
df.head()

         Região   2016   2017   2018   2019   2021   2022   2023
0         Norte  11571  11941  12239  12480  13011  13170  13418
1      Nordeste  39714  40243  40742  41274  42100  42571  42951
2       Sudeste  65431  66314  67199  67984  69510  69989  70503
3           Sul  22089  22429  22739  22917  23333  23527  23753
4  Centro-Oeste  11311  11566  11760  11901  12166  12439  12769

In [5]:
df['2016'] = df['2016'].apply(lambda x: x*1000)
df['2017'] = df['2017'].apply(lambda x: x*1000)
df['2018'] = df['2018'].apply(lambda x: x*1000)
df['2019'] = df['2019'].apply(lambda x: x*1000)
df['2021'] = df['2021'].apply(lambda x: x*1000)
df['2022'] = df['2022'].apply(lambda x: x*1000)
df['2023'] = df['2023'].apply(lambda x: x*1000)

In [6]:
df.head(10)

,Região,2016,2017,2018,2019,2021,2022,2023
0,Norte,11571000,11941000,12239000,12480000,13011000,13170000,13418000
1,Nordeste,39714000,40243000,40742000,41274000,42100000,42571000,42951000
2,Sudeste,65431000,66314000,67199000,67984000,69510000,69989000,70503000
3,Sul,22089000,22429000,22739000,22917000,23333000,23527000,23753000
4,Centro-Oeste,11311000,11566000,11760000,11901000,12166000,12439000,12769000

In [7]:
df_melt = df.melt(
    id_vars='Região',
    value_vars=['2016', '2017', '2018', '2019', '2021', '2022', '2023'],
    var_name='Ano',
    value_name='Quantidade'
)

In [8]:
df_melt.head(10)

         Região   Ano  Quantidade
0         Norte  2016    11571000
1      Nordeste  2016    39714000
2       Sudeste  2016    65431000
3           Sul  2016    22089000
4  Centro-Oeste  2016    11311000
5         Norte  2017    11941000
6      Nordeste  2017    40243000
7       Sudeste  2017    66314000
8           Sul  2017    22429000
9  Centro-Oeste  2017    11566000

In [9]:
df_melt.dtypes

Região        object
Ano           object
Quantidade     int64
dtype: object

In [10]:
df_melt['Ano'] = df_melt['Ano'].astype(int)

In [11]:
# Para lineplot

df_melt.to_csv('tabela_6974.csv')

# Para o mapa coroplético

In [12]:
max_2016 = df['2016'].sum()
max_2017 = df['2017'].sum()
max_2018 = df['2018'].sum()
max_2019 = df['2019'].sum()
max_2021 = df['2021'].sum()
max_2022 = df['2022'].sum()
max_2023 = df['2023'].sum()

In [13]:
df_percentage = pd.DataFrame()
df_percentage['Região'] = df['Região']
df_percentage['2016'] = df['2016'].apply(lambda x: (x * 1.0)/max_2016)
df_percentage['2017'] = df['2017'].apply(lambda x: (x * 1.0)/max_2017)
df_percentage['2018'] = df['2018'].apply(lambda x: (x * 1.0)/max_2018)
df_percentage['2019'] = df['2019'].apply(lambda x: (x * 1.0)/max_2019)
df_percentage['2021'] = df['2021'].apply(lambda x: (x * 1.0)/max_2021)
df_percentage['2022'] = df['2022'].apply(lambda x: (x * 1.0)/max_2022)
df_percentage['2023'] = df['2023'].apply(lambda x: (x * 1.0)/max_2023)

In [14]:
df_2016 = df_percentage.melt(
    id_vars='Região',
    value_vars='2016',
    var_name='Ano',
    value_name='Quantidade'
)
df_2016['Ano'] = df_2016['Ano'].astype(int)

In [15]:
df_2017 = df_percentage.melt(
    id_vars='Região',
    value_vars='2017',
    var_name='Ano',
    value_name='Quantidade'
)
df_2017['Ano'] = df_2017['Ano'].astype(int)

In [16]:
df_2018 = df_percentage.melt(
    id_vars='Região',
    value_vars='2018',
    var_name='Ano',
    value_name='Quantidade'
)
df_2018['Ano'] = df_2018['Ano'].astype(int)

In [17]:
df_2019 = df_percentage.melt(
    id_vars='Região',
    value_vars='2019',
    var_name='Ano',
    value_name='Quantidade'
)
df_2019['Ano'] = df_2019['Ano'].astype(int)

In [18]:
df_2021 = df_percentage.melt(
    id_vars='Região',
    value_vars='2021',
    var_name='Ano',
    value_name='Quantidade'
)
df_2021['Ano'] = df_2021['Ano'].astype(int)

In [19]:
df_2022 = df_percentage.melt(
    id_vars='Região',
    value_vars='2022',
    var_name='Ano',
    value_name='Quantidade'
)
df_2022['Ano'] = df_2022['Ano'].astype(int)

In [20]:
df_2023 = df_percentage.melt(
    id_vars='Região',
    value_vars='2023',
    var_name='Ano',
    value_name='Quantidade'
)
df_2023['Ano'] = df_2023['Ano'].astype(int)

In [21]:
df_2023

         Região   Ano  Quantidade
0         Norte  2023    0.082121
1      Nordeste  2023    0.262868
2       Sudeste  2023    0.431491
3           Sul  2023    0.145373
4  Centro-Oeste  2023    0.078149