In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('imf_global_nominal_gdp.xls')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 52 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  196 non-null    object
 1   1980     196 non-null    object
 2   1981     196 non-null    object
 3   1982     196 non-null    object
 4   1983     196 non-null    object
 5   1984     196 non-null    object
 6   1985     196 non-null    object
 7   1986     196 non-null    object
 8   1987     196 non-null    object
 9   1988     196 non-null    object
 10  1989     196 non-null    object
 11  1990     196 non-null    object
 12  1991     196 non-null    object
 13  1992     196 non-null    object
 14  1993     196 non-null    object
 15  1994     196 non-null    object
 16  1995     196 non-null    object
 17  1996     196 non-null    object
 18  1997     196 non-null    object
 19  1998     196 non-null    object
 20  1999     196 non-null    object
 21  2000     196 non-null    object
 22  2001     196 non-null    object
 23  2002     196 non-null    object
 24  2003     196 non-null    object
 25  2004     196 non-null    object
 26  2005     196 non-null    object
 27  2006     196 non-null    object
 28  2007     196 non-null    object
 29  2008     196 non-null    object
 30  2009     196 non-null    object
 31  2010     196 non-null    object
 32  2011     196 non-null    object
 33  2012     196 non-null    object
 34  2013     196 non-null    object
 35  2014     196 non-null    object
 36  2015     196 non-null    object
 37  2016     196 non-null    object
 38  2017     196 non-null    object
 39  2018     196 non-null    object
 40  2019     196 non-null    object
 41  2020     196 non-null    object
 42  2021     196 non-null    object
 43  2022     196 non-null    object
 44  2023     196 non-null    object
 45  2024     196 non-null    object
 46  2025     196 non-null    object
 47  2026     196 non-null    object
 48  2027     196 non-null    object
 49  2028     196 non-null    object
 50  2029     196 non-null    object
 51  2030     196 non-null    object
dtypes: object(52)
memory usage: 79.8+ KB

In [4]:
df.head(10)

,Country,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2021,2022,2023,2024,2025,2026,2027,2028,2029,2030
0,Afghanistan,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,14.278,14.501,17.248,no data,no data,no data,no data,no data,no data,no data
1,Albania,1.969,2.256,2.323,2.347,2.317,2.366,2.617,2.597,2.56,...,18.086,19.185,23.388,27.259,28.372,29.743,31.382,33.354,35.462,37.683
2,Algeria,45.957,48.156,48.599,51.582,55.906,66.346,66.783,68.698,56.07,...,185.85,225.709,247.789,264.913,268.885,269.435,274.52,279.983,285.271,290.941
3,Andorra,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,3.325,3.376,3.786,4.038,4.035,4.169,4.301,4.438,4.583,4.732
4,Angola,8.73,8.17,8.17,8.514,9.025,11.119,10.411,11.9,12.909,...,84.375,142.442,109.764,115.946,113.343,109.384,112.743,118.534,125.036,132.281
5,Antigua and Barbuda,0.132,0.149,0.166,0.185,0.212,0.246,0.298,0.347,0.411,...,1.602,1.867,2.006,2.225,2.373,2.493,2.606,2.723,2.846,2.974
6,Argentina,233.696,189.802,94.25,116.267,130.544,98.599,118.565,121.561,142.386,...,486.04,632.318,645.511,632.145,683.533,715.376,715.766,712.668,738.395,776.815
7,Armenia,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,13.879,19.514,24.086,25.533,26.258,26.681,27.893,29.523,31.388,33.319
8,Aruba,no data,no data,no data,no data,no data,no data,no data,no data,no data,...,2.929,3.279,3.649,3.952,4.1,4.286,4.481,4.643,4.797,4.957
9,Australia,162.924,188.41,187.049,179.478,197.136,174.385,181.477,213.1,271.088,...,1655.843,1725.461,1742.461,1796.805,1771.681,1841.002,1914.821,1995.441,2083.608,2181.788

In [5]:
df.dtypes

Country    object
1980       object
1981       object
1982       object
1983       object
1984       object
1985       object
1986       object
1987       object
1988       object
1989       object
1990       object
1991       object
1992       object
1993       object
1994       object
1995       object
1996       object
1997       object
1998       object
1999       object
2000       object
2001       object
2002       object
2003       object
2004       object
2005       object
2006       object
2007       object
2008       object
2009       object
2010       object
2011       object
2012       object
2013       object
2014       object
2015       object
2016       object
2017       object
2018       object
2019       object
2020       object
2021       object
2022       object
2023       object
2024       object
2025       object
2026       object
2027       object
2028       object
2029       object
2030       object
dtype: object

In [6]:
df = df.replace("China, People's Republic of", 'China')

In [7]:
df = df.replace('no data', np.nan)

C:\Users\lazar\AppData\Local\Temp\ipykernel_4792\3569758893.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace('no data', np.nan)

In [8]:
years = range(1980, 2026)

for year in years:
    df[year] = df[year].astype(np.float64)

In [9]:
df.dtypes

Country     object
1980       float64
1981       float64
1982       float64
1983       float64
1984       float64
1985       float64
1986       float64
1987       float64
1988       float64
1989       float64
1990       float64
1991       float64
1992       float64
1993       float64
1994       float64
1995       float64
1996       float64
1997       float64
1998       float64
1999       float64
2000       float64
2001       float64
2002       float64
2003       float64
2004       float64
2005       float64
2006       float64
2007       float64
2008       float64
2009       float64
2010       float64
2011       float64
2012       float64
2013       float64
2014       float64
2015       float64
2016       float64
2017       float64
2018       float64
2019       float64
2020       float64
2021       float64
2022       float64
2023       float64
2024       float64
2025       float64
2026       float64
2027       float64
2028       float64
2029       float64
2030       float64
dtype: object

In [10]:
df_tidy = df.melt(
    id_vars='Country',
    value_vars=2025,
    var_name='Year',
    value_name='GDP'
)

In [11]:
df_sorted = df_tidy.sort_values(by='GDP', ascending=False).reset_index(drop=True)[0:10]

In [12]:
df_sorted.to_csv('imf_top_10_economies.csv')