In [27]:
import pandas as pd

In [28]:
df = pd.read_csv('individuals-using-the-internet.csv')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seriesID           4906 non-null   int64
 1   seriesCode         4906 non-null   object
 2   seriesName         4906 non-null   object
 3   seriesParent       0 non-null      float64
 4   seriesUnits        4906 non-null   object
 5   entityID           4906 non-null   int64
 6   entityIso          4906 non-null   object
 7   entityName         4906 non-null   object
 8   dataValue          4906 non-null   float64
 9   dataYear           4906 non-null   int64
 10  dataNote           612 non-null    object
 11  dataSource         4449 non-null   object
 12  seriesDescription  4906 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 498.4+ KB

In [30]:
df = df.drop(columns=[
    'seriesID',
    'seriesCode',
    'seriesName',
    'seriesParent',
    'seriesUnits',
    'entityID',
    'entityIso',
    'dataNote',
    'dataSource',
    'seriesDescription'
])

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   entityName  4906 non-null   object
 1   dataValue   4906 non-null   float64
 2   dataYear    4906 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 115.1+ KB

In [32]:
df = df.rename(columns={
    'entityName': 'Country',
    'dataValue': 'Value',
    'dataYear': 'Year'
})

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  4906 non-null   object
 1   Value    4906 non-null   float64
 2   Year     4906 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 115.1+ KB

In [34]:
df.isna().sum()

Country    0
Value      0
Year       0
dtype: int64

In [35]:
df

          Country     Value  Year
0           Aruba  15.44280  2000
1           Aruba  17.10000  2001
2           Aruba  18.80000  2002
3           Aruba  20.80000  2003
4           Aruba  23.00000  2004
...           ...       ...   ...
4901  South Sudan   4.80000  2018
4902  South Sudan   6.70000  2019
4903  South Sudan   9.27123  2020
4904      Curacao  61.85550  2016
4905      Curacao  68.12720  2017

[4906 rows x 3 columns]