In [15]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('worldbank_global_nominal_gdp.csv')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 70 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            151 non-null    float64
 5   1961            154 non-null    float64
 6   1962            156 non-null    float64
 7   1963            156 non-null    float64
 8   1964            156 non-null    float64
 9   1965            162 non-null    float64
 10  1966            163 non-null    float64
 11  1967            167 non-null    float64
 12  1968            168 non-null    float64
 13  1969            168 non-null    float64
 14  1970            190 non-null    float64
 15  1971            191 non-null    float64
 16  1972            191 non-null    float64
 17  1973            191 non-null    float64
 18  1974            191 non-null    float64
 19  1975            195 non-null    float64
 20  1976            195 non-null    float64
 21  1977            198 non-null    float64
 22  1978            197 non-null    float64
 23  1979            198 non-null    float64
 24  1980            208 non-null    float64
 25  1981            208 non-null    float64
 26  1982            209 non-null    float64
 27  1983            209 non-null    float64
 28  1984            211 non-null    float64
 29  1985            213 non-null    float64
 30  1986            213 non-null    float64
 31  1987            220 non-null    float64
 32  1988            223 non-null    float64
 33  1989            223 non-null    float64
 34  1990            240 non-null    float64
 35  1991            241 non-null    float64
 36  1992            242 non-null    float64
 37  1993            243 non-null    float64
 38  1994            244 non-null    float64
 39  1995            247 non-null    float64
 40  1996            247 non-null    float64
 41  1997            249 non-null    float64
 42  1998            250 non-null    float64
 43  1999            250 non-null    float64
 44  2000            252 non-null    float64
 45  2001            253 non-null    float64
 46  2002            257 non-null    float64
 47  2003            257 non-null    float64
 48  2004            257 non-null    float64
 49  2005            257 non-null    float64
 50  2006            258 non-null    float64
 51  2007            258 non-null    float64
 52  2008            259 non-null    float64
 53  2009            261 non-null    float64
 54  2010            261 non-null    float64
 55  2011            262 non-null    float64
 56  2012            260 non-null    float64
 57  2013            260 non-null    float64
 58  2014            261 non-null    float64
 59  2015            259 non-null    float64
 60  2016            258 non-null    float64
 61  2017            258 non-null    float64
 62  2018            258 non-null    float64
 63  2019            258 non-null    float64
 64  2020            257 non-null    float64
 65  2021            257 non-null    float64
 66  2022            256 non-null    float64
 67  2023            248 non-null    float64
 68  2024            231 non-null    float64
 69  Unnamed: 69     0 non-null      float64
dtypes: float64(66), object(4)
memory usage: 145.6+ KB

In [18]:
df = df.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code'])

In [19]:
df = df.rename(columns={'Country Name': 'Country'})

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 67 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Country      266 non-null    object
 1   1960         151 non-null    float64
 2   1961         154 non-null    float64
 3   1962         156 non-null    float64
 4   1963         156 non-null    float64
 5   1964         156 non-null    float64
 6   1965         162 non-null    float64
 7   1966         163 non-null    float64
 8   1967         167 non-null    float64
 9   1968         168 non-null    float64
 10  1969         168 non-null    float64
 11  1970         190 non-null    float64
 12  1971         191 non-null    float64
 13  1972         191 non-null    float64
 14  1973         191 non-null    float64
 15  1974         191 non-null    float64
 16  1975         195 non-null    float64
 17  1976         195 non-null    float64
 18  1977         198 non-null    float64
 19  1978         197 non-null    float64
 20  1979         198 non-null    float64
 21  1980         208 non-null    float64
 22  1981         208 non-null    float64
 23  1982         209 non-null    float64
 24  1983         209 non-null    float64
 25  1984         211 non-null    float64
 26  1985         213 non-null    float64
 27  1986         213 non-null    float64
 28  1987         220 non-null    float64
 29  1988         223 non-null    float64
 30  1989         223 non-null    float64
 31  1990         240 non-null    float64
 32  1991         241 non-null    float64
 33  1992         242 non-null    float64
 34  1993         243 non-null    float64
 35  1994         244 non-null    float64
 36  1995         247 non-null    float64
 37  1996         247 non-null    float64
 38  1997         249 non-null    float64
 39  1998         250 non-null    float64
 40  1999         250 non-null    float64
 41  2000         252 non-null    float64
 42  2001         253 non-null    float64
 43  2002         257 non-null    float64
 44  2003         257 non-null    float64
 45  2004         257 non-null    float64
 46  2005         257 non-null    float64
 47  2006         258 non-null    float64
 48  2007         258 non-null    float64
 49  2008         259 non-null    float64
 50  2009         261 non-null    float64
 51  2010         261 non-null    float64
 52  2011         262 non-null    float64
 53  2012         260 non-null    float64
 54  2013         260 non-null    float64
 55  2014         261 non-null    float64
 56  2015         259 non-null    float64
 57  2016         258 non-null    float64
 58  2017         258 non-null    float64
 59  2018         258 non-null    float64
 60  2019         258 non-null    float64
 61  2020         257 non-null    float64
 62  2021         257 non-null    float64
 63  2022         256 non-null    float64
 64  2023         248 non-null    float64
 65  2024         231 non-null    float64
 66  Unnamed: 69  0 non-null      float64
dtypes: float64(66), object(1)
memory usage: 139.4+ KB

In [21]:
df.dtypes

Country         object
1960           float64
1961           float64
1962           float64
1963           float64
                ...
2021           float64
2022           float64
2023           float64
2024           float64
Unnamed: 69    float64
Length: 67, dtype: object

In [22]:
df_melt = df.melt(
    id_vars='Country',
    value_vars='2024',
    var_name='Year',
    value_name='GDP'
)

In [23]:
df_melt.dtypes

Country     object
Year        object
GDP        float64
dtype: object

In [24]:
df_melt['Year'] = df_melt['Year'].astype(np.float64)

In [25]:
df_melt.dtypes

Country     object
Year       float64
GDP        float64
dtype: object

In [26]:
df_sorted = df_melt.sort_values(by='GDP', ascending=False)

In [27]:
removable = [
    'World',
    'High income',
    'Post-demographic dividend',
    'IDA & IBRD total',
    'IBRD only',
    'Low & middle income',
    'Middle income',
    'East Asia & Pacific',
    'North America',
    'Upper middle income',
    'Late-demographic dividend',
    'Europe & Central Asia',
    'OECD members',
    'East Asia & Pacific (excluding high income)',
    'East Asia & Pacific (IDA & IBRD countries)',
    'European Union',
    'Euro area', 
    'Early-demographic dividend',
    'Lower middle income',
    'Lower middle class',
    'Latin America & Caribbean',
    'Latin America & the Caribbean (IDA & IBRD countries)',
    'Latin America & the Caribbean (excluding high income)',
    'Europe & Central Asia (IDA & IBRD countries)',
    'Latin America & Caribbean (excluding high income)',
    'Middle East, North Africa, Afghanistan & Pakistan',
    'South Asia (IDA & IBRD)',
    'IDA total',
    'Arab World',
    'Central Europe and the Baltics',
    'Europe & Central Asia (excluding high income)',
    'Middle East, North Africa, Afghanistan & Pakistan (excluding high income)',
    'Middle East, North Africa, Afghanistan & Pakistan (IDA & IBRD)',
    'Sub-Saharan Africa (IDA & IBRD countries)',
    'Sub-Saharan Africa',
    'IDA only',
    'Fragile and conflict affected situations',
    'Sub-Saharan Africa (excluding high income)',
    'Least developed countries: UN classification',
    'Pre-demographic dividend',
    'Africa Eastern and Southern',
    'Heavily indebted poor countries (HIPC)',
    'Not classified',
    'Pacific island small states',
    'Caribbean small states',
    'Other small states',
    'Small states',
    'Low income',
    'IDA blend',
    'South Asia'
]
df_sorted = df_sorted.query('Country not in @removable').reset_index(drop=True)[0:10]

In [28]:
df_sorted.to_csv('worldbank_top_10_economies.csv')