In [10]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [11]:
df = pd.read_csv('individuals-using-the-internet.csv')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   seriesID           4906 non-null   int64
 1   seriesCode         4906 non-null   object
 2   seriesName         4906 non-null   object
 3   seriesParent       0 non-null      float64
 4   seriesUnits        4906 non-null   object
 5   entityID           4906 non-null   int64
 6   entityIso          4906 non-null   object
 7   entityName         4906 non-null   object
 8   dataValue          4906 non-null   float64
 9   dataYear           4906 non-null   int64
 10  dataNote           612 non-null    object
 11  dataSource         4449 non-null   object
 12  seriesDescription  4906 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 498.4+ KB

In [13]:
df = df.drop(columns=[
    'seriesID',
    'seriesCode',
    'seriesName',
    'seriesParent',
    'seriesUnits',
    'entityID',
    'entityIso',
    'dataNote',
    'dataSource',
    'seriesDescription'
])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   entityName  4906 non-null   object
 1   dataValue   4906 non-null   float64
 2   dataYear    4906 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 115.1+ KB

In [15]:
df = df.rename(columns={
    'entityName': 'Country',
    'dataValue': 'Percentage Use',
    'dataYear': 'Year'
})

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4906 entries, 0 to 4905
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         4906 non-null   object
 1   Percentage Use  4906 non-null   float64
 2   Year            4906 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 115.1+ KB

In [17]:
df_filtered = df.query('Country == "Brazil"').reset_index(drop=True)

In [18]:
df_filtered.to_csv('brazil_internent_use.csv')