In [28]:
import pandas as pd
import plotly.express as px

In [29]:
egdi = pd.read_csv('EGOV_DATA_2024.csv')

In [30]:
gastos_publicos = pd.read_excel('imf_government_expenditure.xls')

In [31]:
print(egdi.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Survey Year                             193 non-null    int64
 1   Country Name                            193 non-null    object
 2   E-Government Rank                       193 non-null    int64
 3   E-Government Index                      193 non-null    float64
 4   E-Participation Index                   193 non-null    float64
 5   Online Service Index                    193 non-null    float64
 6   Human Capital Index                     193 non-null    float64
 7   Telecommunication Infrastructure Index  193 non-null    float64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ KB
None

In [32]:
print(gastos_publicos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     151 non-null    object
 1   Percentage  151 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.5+ KB
None

In [33]:
print(egdi['Country Name'].value_counts().sum())
print(gastos_publicos['Country'].value_counts().sum())

193
151

In [34]:
set(gastos_publicos['Country']).difference(egdi['Country Name'])

{'Aruba',
 "China, People's Republic of",
 'Georgia',
 'Hong Kong SAR',
 'Iran',
 'Korea, Republic of',
 'Kyrgyz Republic',
 'Micronesia, Fed. States of',
 'Moldova',
 'Republic of Congo',
 'Slovak Republic',
 'Tanzania',
 'Türkiye, Republic of',
 'United Kingdom',
 'United States',
 'Vietnam'}

In [35]:
gastos_publicos['Country'] = gastos_publicos['Country'].replace({
    'Georgia': 'Georgia (Country)',
    'Iran': 'Iran (Islamic Republic of)',
    'Micronesia, Fed. States of': 'Micronesia (Federated States of)',
    'Moldova': 'Republic of Moldova',
    'Korea, Republic of': 'Republic of Korea',
    'Tanzania': 'United Republic of Tanzania',
    'Slovak Republic': 'Slovakia',
    'Türkiye, Republic of': 'Türkiye',
    'Republic of Congo': 'Congo',
    "China, People's Republic of": "China",
    'Kyrgyz Republic': 'Kyrgyzstan',
    'United States': 'United States of America',
    'Vietnam': 'Viet Nam',
    'United Kingdom': 'United Kingdom of Great Britain and Northern Ireland'
})

In [36]:
set(gastos_publicos['Country']).difference(egdi['Country Name'])

{'Aruba', 'Hong Kong SAR'}

In [37]:
gastos_publicos = gastos_publicos[gastos_publicos['Country'].isin(egdi['Country Name'])].sort_values(by='Country').reset_index(drop=True)

In [38]:
gastos_publicos['Country'].value_counts().sum()

np.int64(149)

In [39]:
egdi = egdi[egdi['Country Name'].isin(gastos_publicos['Country'])].sort_values(by='Country Name').reset_index(drop=True)

In [40]:
egdi['Country Name'].value_counts().sum()

np.int64(149)

In [41]:
egdi = egdi.drop(columns={
    'E-Government Rank', 
    'Survey Year'
})

In [42]:
egdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 6 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country Name                            149 non-null    object
 1   E-Government Index                      149 non-null    float64
 2   E-Participation Index                   149 non-null    float64
 3   Online Service Index                    149 non-null    float64
 4   Human Capital Index                     149 non-null    float64
 5   Telecommunication Infrastructure Index  149 non-null    float64
dtypes: float64(5), object(1)
memory usage: 7.1+ KB

In [43]:
df = pd.merge(egdi, gastos_publicos, left_on='Country Name', right_on='Country')

In [44]:
df.head()

,Country Name,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index,Country,Percentage
0,Albania,0.80000,0.7260,0.81441,0.81059,0.77497,Albania,30.444901
1,Algeria,0.59556,0.0548,0.33200,0.64179,0.81290,Algeria,32.699300
2,Angola,0.41487,0.2192,0.39624,0.47602,0.37238,Angola,19.510293
3,Antigua and Barbuda,0.64282,0.3425,0.41658,0.71757,0.79426,Antigua and Barbuda,20.692064
4,Argentina,0.85733,0.6301,0.79649,0.93298,0.84254,Argentina,37.714727

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Country Name                            149 non-null    object
 1   E-Government Index                      149 non-null    float64
 2   E-Participation Index                   149 non-null    float64
 3   Online Service Index                    149 non-null    float64
 4   Human Capital Index                     149 non-null    float64
 5   Telecommunication Infrastructure Index  149 non-null    float64
 6   Country                                 149 non-null    object
 7   Percentage                              149 non-null    float64
dtypes: float64(6), object(2)
memory usage: 9.4+ KB

In [46]:
df = df.drop(columns={
    'Country',
    'Country Name'
})

In [47]:
df.head()

,E-Government Index,E-Participation Index,Online Service Index,Human Capital Index,Telecommunication Infrastructure Index,Percentage
0,0.80000,0.7260,0.81441,0.81059,0.77497,30.444901
1,0.59556,0.0548,0.33200,0.64179,0.81290,32.699300
2,0.41487,0.2192,0.39624,0.47602,0.37238,19.510293
3,0.64282,0.3425,0.41658,0.71757,0.79426,20.692064
4,0.85733,0.6301,0.79649,0.93298,0.84254,37.714727

In [48]:
corr_df = pd.DataFrame({
    'EGDI x Gastos Públicos': df['Percentage'].corr(df['E-Government Index'], method='spearman'),
    'EPI x Gastos Públicos': df['Percentage'].corr(df['E-Participation Index'], method='spearman'),
    'OSI x Gastos Públicos': df['Percentage'].corr(df['Online Service Index'], method='spearman'),
    'HCI x Gastos Públicos': df['Percentage'].corr(df['Human Capital Index'], method='spearman'),
    'TII x Gastos Públicos': df['Percentage'].corr(df['Telecommunication Infrastructure Index'], method='spearman')
}, range(1))

In [49]:
corr_df.head()

,EGDI x Gastos Públicos,EPI x Gastos Públicos,OSI x Gastos Públicos,HCI x Gastos Públicos,TII x Gastos Públicos
0,0.53495,0.443837,0.452726,0.598676,0.462463

In [50]:
corr_df = corr_df.melt(
    value_vars=[
        'EGDI x Gastos Públicos',
        'EPI x Gastos Públicos',
        'OSI x Gastos Públicos',
        'HCI x Gastos Públicos',
        'TII x Gastos Públicos'
    ],
    var_name='Comparacao', 
    value_name='Coeficiente_Correlacao'
)

In [51]:
corr_df.head()

               Comparacao  Coeficiente_Correlacao
0  EGDI x Gastos Públicos                0.534950
1   EPI x Gastos Públicos                0.443837
2   OSI x Gastos Públicos                0.452726
3   HCI x Gastos Públicos                0.598676
4   TII x Gastos Públicos                0.462463

In [52]:
corr_df = corr_df.sort_values(by='Coeficiente_Correlacao', ascending=True).reset_index(drop=True)

In [53]:
corr_df.head()

               Comparacao  Coeficiente_Correlacao
0   EPI x Gastos Públicos                0.443837
1   OSI x Gastos Públicos                0.452726
2   TII x Gastos Públicos                0.462463
3  EGDI x Gastos Públicos                0.534950
4   HCI x Gastos Públicos                0.598676

In [54]:
fig = px.bar(
    corr_df,
    x='Coeficiente_Correlacao', 
    y='Comparacao'
)

fig.update_traces(
    texttemplate='%{x:.2f}',
    textposition='outside'
)

fig.update_layout(
    font=dict(
        color='black'
    ),
    margin=dict(
        t=15,
        b=0
    ),
    xaxis=dict(
        title='',
        range=[0, 1]
    ),
    yaxis=dict(
        title=''
    )
)

fig.write_image('C:/Users/lazar/Dissertacao-Mestrado-PoderJud-EGDI/figuras/correlacao_egdi_gastospublicos.png', scale=10)

WARNING	Thread(Thread-7 (run)) Task(Task-47) choreographer.browser_async:browser_async.py:_close()- Resorting to unclean kill browser.