In [1]:
import pandas as pd
import plotly.graph_objects as go
import plotly.io as pio

In [2]:
deo = pd.read_excel('digital_economic_outlook_2024.xlsx')

In [3]:
deo.head()

,Country,OECD Membership,Access,Use,Innovation,Jobs,Society,Trust,Market openness
0,Brazil,No,0.75,1.00,0.83,0.6,0.83,0.8,0.8
1,Canada,Yes,0.75,0.57,0.67,0.4,0.50,0.6,0.2
2,Switzerland,Yes,0.00,0.57,0.17,0.2,0.67,0.2,0.4
3,Colombia,Yes,0.75,0.86,0.67,0.8,1.00,0.6,0.2
4,Czech Republic,Yes,1.00,1.00,1.00,0.8,0.83,0.6,0.8

In [4]:
brasil = deo.loc[deo['Country'] == 'Brazil'].reset_index(drop=True)

In [5]:
brasil.head()

,Country,OECD Membership,Access,Use,Innovation,Jobs,Society,Trust,Market openness
0,Brazil,No,0.75,1.0,0.83,0.6,0.83,0.8,0.8

In [6]:
dimensoes = [
    'Access',	
    'Use',	
    'Innovation',	
    'Jobs',	
    'Society',	
    'Trust',	
    'Market openness'
]

In [7]:
brasil = brasil.melt(
    value_vars=dimensoes,
    var_name='Dimensoes',
    value_name='Valores'
)

In [8]:
brasil.head()

    Dimensoes  Valores
0      Access     0.75
1         Use     1.00
2  Innovation     0.83
3        Jobs     0.60
4     Society     0.83

In [9]:
ocde = deo.loc[deo['OECD Membership'] == 'Yes'].reset_index(drop=True)

In [10]:
ocde.head()

,Country,OECD Membership,Access,Use,Innovation,Jobs,Society,Trust,Market openness
0,Canada,Yes,0.75,0.57,0.67,0.4,0.50,0.6,0.2
1,Switzerland,Yes,0.00,0.57,0.17,0.2,0.67,0.2,0.4
2,Colombia,Yes,0.75,0.86,0.67,0.8,1.00,0.6,0.2
3,Czech Republic,Yes,1.00,1.00,1.00,0.8,0.83,0.6,0.8
4,Germany,Yes,1.00,1.00,1.00,1.0,0.83,1.0,1.0

In [11]:
ocde = ocde.groupby('OECD Membership')[[
    'Access',
    'Use',
    'Innovation',	
    'Jobs',	
    'Society',	
    'Trust', 
    'Market openness'
]].median().reset_index()

In [12]:
ocde.head()

,OECD Membership,Access,Use,Innovation,Jobs,Society,Trust,Market openness
0,Yes,0.75,0.86,0.83,0.4,0.75,0.6,0.4

In [13]:
ocde = ocde.melt(
    value_vars=dimensoes,
    var_name='Dimensoes',
    value_name='Valores'
)

In [14]:
ocde.head()

    Dimensoes  Valores
0      Access     0.75
1         Use     0.86
2  Innovation     0.83
3        Jobs     0.40
4     Society     0.75

In [15]:
fig = go.Figure()

fig.add_trace(go.Scatterpolar(
    r=ocde['Valores'],
    theta=ocde['Dimensoes'],
    name='OCDE'
))

fig.add_trace(go.Scatterpolar(
    r=brasil['Valores'],
    theta=brasil['Dimensoes'],
    name='Brasil'
))

fig.update_layout(
    legend=dict(
        orientation="h",
        yanchor="bottom",
        y=1.1,
        xanchor="center",
        x=0.5
    ),
    margin=dict(
        t=15, 
        b=15, 
        l=15,
        r=15
    ),
    font=dict(
        color="black"
    )
)

fig.write_image('C:/Users/lazar/Dissertacao-Mestrado-PoderJud-EGDI/figuras/digital_economic_outlook_2024_brasil_ocde.png', scale=3)