In [1]:
import pandas as pd

In [2]:
deo = pd.read_excel('digital_economic_outlook_2024.xlsx')

In [3]:
deo.head()

,Country Name,Country Code,Access,Use,Innovation,Jobs,Society,Trust,Market openness
0,Brazil,BRA,0.75,1.00,0.83,0.6,0.83,0.8,0.8
1,Canada,CAN,0.75,0.57,0.67,0.4,0.50,0.6,0.2
2,Switzerland,CHE,0.00,0.57,0.17,0.2,0.67,0.2,0.4
3,Colombia,COL,0.75,0.86,0.67,0.8,1.00,0.6,0.2
4,Czech Republic,CZE,1.00,1.00,1.00,0.8,0.83,0.6,0.8